<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>

    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <script src="../../static/js/bootstrap.js"></script>
    <script src="../../static/js/main.js"></script>

</head>
<body>


<form action="{{ url_for('main_Menu') }}" enctype=multipart/form-data method="POST">
    <div class="container">
        <div class="row mt-3 text-center title_div">
            <div id="Business Header" class="business_header_text"></div>
        </div>

        {% if condirmation %}
            <div class="row mt-3 text-center">
                {{ confirmation }}
            </div>

        {% endif %}

        <!--Tabs For Selecting Roll-->
        <ul class="nav nav-tabs justify-content-center"
            id="myTab"
            role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active"
                        id="Admin-data-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#Admin"
                        type="button"
                        role="tab"
                        aria-controls="home"
                        aria-selected="true">
                    Admin
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="Investigation-data-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#Investigation"
                        type="button"
                        role="tab"
                        aria-controls="profile"
                        aria-selected="false">
                    Investigation
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="Management-data-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#Management"
                        type="button"
                        role="tab"
                        aria-controls="profile"
                        aria-selected="false">
                    Management
                </button>
            </li>
        </ul>


        <!--Area for Showing Tab-->
        <div class="tab-content pb-5" id="myTabContent">

            <!--Admin Data -->
            <div class="tab-pane fade show active grid justify-content-center"
                 id="Admin"
                 role="tabpanel"
                 aria-labelledby="Admin-data-tab">


                <div class="row mt-5 text-center">
                    <h2><b>Administrative Functions</b></h2>


                    <div class="row mt-3" >
                        <h4>New Customer</h4>
                        <div class="col">
                            <button class="btn btn-dark mr-2" type="submit" name="submit_button"
                                    value="New Customer Report" formnovalidate>
                                New Customer Report
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-dark mr-2" type="submit" name="submit_button"
                                    value="Create New Case" formnovalidate>
                                Create New Case
                            </button>
                        </div>
                    </div>



                    <div class="row mt-5">
                        <h4>Established Customers</h4>
                        <div class="col">
                            <button class="btn btn-dark mr-2" type="submit" name="submit_button" value="Create Invoice"
                                    formnovalidate>
                                Create Invoice
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-dark mr-2" type="submit" name="submit_button"
                                    value="Check Case Status" formnovalidate>
                                Check Case Status
                            </button>
                        </div>
                    </div>


                </div>


            </div>

            <!--Investigation Data -->
            <div class="tab-pane fade grid justify-content-center"
                 id="Investigation"
                 role="tabpanel"
                 aria-labelledby="Investigation-data-tab">
                <div class="row mt-5 text-center">
                    <h2><b>Investigative Functions</b></h2>

                    <div class="row text-center mt-5 mb-5">
                        <div class="col case_number_div">
                            <label for="case_number">Case Number:</label>
                            <input type="text" id="case_number" name="Case Number" required>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col">
                            <button class="btn btn-dark mr-2" type="submit" name="submit_button"
                                    value="Daily Activity Report">
                                Daily Activity Report
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-dark mr-2" type="submit" name="submit_button"
                                    value="Interview Report">
                                Interview Report
                            </button>
                        </div>
                    </div>


                    <div class="row mt-5">
                        <div class="col">
                            <button class="btn btn-dark mr-2" type="submit" name="submit_button"
                                    value="Person of Interest">
                                Person of Interest
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-dark mr-2" type="submit" name="submit_button"
                                    value="Witness Statement">
                                Witness Statement
                            </button>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col">
                            <button class="btn btn-dark mr-2" type="submit" name="submit_button"
                                    value="Create BOLO">
                                Create BOLO
                            </button>
                        </div>

                    </div>


                </div>
            </div>

            <!--Investigation Data -->
            <div class="tab-pane fade grid justify-content-center"
                 id="Management"
                 role="tabpanel"
                 aria-labelledby="Management-data-tab">
                <div class="row text-center">
                    <h1><b>Coming Soon!</b></h1>
                </div>
            </div>

        </div>
    </div>


</form>

<script>
    create_Business_Header()
</script>

</body>
</html>