<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Initial Client Report</title>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/main.js"></script>

</head>
<body>

<form action="{{ url_for('create_Initial_Customer_Report') }}" enctype=multipart/form-data method="POST">

    <div class="container mt-3">

        <div class="row mt-3 border border-dark p-5">

            <div class="col text-center">
                <div id="Business Header"></div>
            </div>

            <div class="col align-self-end">
                <label for="case-number">Case Number</label>
                <input type="text" id="case-number">
            </div>

        </div>

        <div class="row mt-3 border border-dark p-5">
            <div class="row">
                <h5><b><u>Complainant</u></b></h5>
            </div>
            <div class="row">
                <div class="col">
                    <label for="complainant-first-name">First Name</label>
                    <input id="complainant-first-name" name="Complainant First Name" type="text">
                </div>

                <div class="col">
                    <label for="complainant-last-name">Last Name</label>
                    <input id="complainant-last-name" name="Complainant Last Name" type="text">
                </div>

                <div class="col">
                    <label for="complainant-phone-number">Phone Number</label>
                    <input id="complainant-phone-number" name="Phone Number" type="text">
                </div>

                <div class="col">
                    <label for="complainant-email">Email</label>
                    <input id="complainant-email" name="Complainant Email" type="text">
                </div>

                <div class="col">
                    <label for="complainant-employer">Employer</label>
                    <input id="complainant-employer" name="Complainant Employer" type="text">
                </div>

            </div>

            <div class="row mt-1">
                <div class="col">
                    <label for="complainant-address">Address</label>
                    <input id="complainant-address" name="Complainant Address" type="text">
                </div>

                <div class="col">
                    <label for="complainant-state">State</label>
                    <input id="complainant-state" name="Complainant State" type="text">
                </div>

                <div class="col">
                    <label for="complainant-zip">Zip</label>
                    <input id="complainant-zip" name="Complainant Zip" type="text">
                </div>
            </div>

            <div class="row mt-1 border border-dark p-2">
                <div class="col">
                    <label for="employer-is-customer">Employer is Customer?</label>
                    <select id="employer-is-customer" class="form-select" name="Employer is Customer">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>

                <div class="col">
                    <label for="complainant-employer-address">Employer Address</label>
                    <input id="complainant-employer-address" name="Employer Address" type="text">
                </div>

                <div class="col">
                    <label for="complainant-employer-phone-number">Employer Phone Number</label>
                    <input id="complainant-employer-phone-number" name="Employer Phone Number" type="text">
                </div>

                <div class="col">
                    <label for="complainant-employer-employed-since">Employed Since</label>
                    <input id="complainant-employer-employed-since" name="Employed Since" type="text">
                </div>

                <div class="col">
                    <label for="complainant-employer-job-title">Job Title</label>
                    <input id="complainant-employer-job-title" name="Job Title" type="text">
                </div>


            </div>


            <div class="row mt-2">
                <div class="row text-center">
                    <h5><u>What led you to believe that there may be an issue that requires an investigation?</u></h5>
                </div>
                <div class="row">
                    <textarea name="Initial Belief" id="initial-belief-need-for-investigation" cols="30" rows="10"></textarea>
                </div>
            </div>

            <div class="row mt-2">
                <div class="row text-center">
                    <h5><u>Can you provide a brief overview of the situation or issue at hand?</u></h5>
                </div>
                <div class="row">
                    <textarea name="Brief Overview" id="overview-of-situation" cols="30" rows="10"></textarea>
                </div>
            </div>


            <div class="row mt-2">
                <div class="row text-center">
                    <h5><u>When did you first become aware of this issue?</u></h5>
                </div>
                <div class="row">
                    <textarea name="First Become Aware" id="first-became-aware-of-issue" cols="30" rows="5"></textarea>
                </div>
            </div>


            <div class="row mt-2">
                <div class="row text-center">
                    <h5><u>Have you attempted to resolve this issue on your own? If so, what steps have you taken?</u>
                    </h5>
                </div>
                <div class="row">
                    <textarea name="Self Resolution Attempts" id="complainant-issues-taken-to-resolve" cols="30" rows="5"></textarea>
                </div>
            </div>

            <div class="row mt-2">
                <div class="row text-center">
                    <h5><u>Have you discussed this issue with anyone else, such as an attorney or law enforcement?</u>
                    </h5>
                </div>
                <div class="row">
                    <textarea name="Other Privy Entities" id="complainant-other-entities-communicated-with" cols="30" rows="5"></textarea>
                </div>
            </div>

            <div class="row mt-2">
                <div class="row text-center">
                    <h5><u>Have you identified any potential suspects or witnesses related to the issue?</u></h5>
                </div>
                <div class="row">
                    <textarea name="People of Interest" id="complainant-potential-suspects" cols="30" rows="5"></textarea>
                </div>
            </div>

            <div class="row mt-2">
                <div class="row text-center">
                    <h5><u>Do you have any documentation or evidence related to the issue, such as contracts, emails, or
                        financial records?</u></h5>
                </div>

                <div class="row mb-2">
                    <div class="col-sm-auto">
                        <label for="formFileMultiple" class="form-label"><b>Upload Files Here</b></label>
                        <input class="form-control" type="file" id="formFileMultiple" multiple>
                    </div>
                </div>

                <div class="row">
                    <label for="complainant-additional-documents-text">Describe Addition Documentation Available</label>
                    <textarea name="Additional Text" id="complainant-additional-documents-text" cols="30" rows="5"></textarea>
                </div>
            </div>


            <div class="row mt-2">
                <div class="row text-center">
                    <h5><u>Are there any specific concerns or allegations that you would like the investigator to focus
                        on
                        during the investigation?</u></h5>
                </div>
                <div class="row">
                    <textarea name="Specific Concerns" id="complainant-specific-concerns" cols="30" rows="5"></textarea>
                </div>
            </div>

            <div class="row mt-2">
                <div class="row text-center">
                    <h5><u>Do you have a desired timeline or budget for the investigation?</u></h5>
                </div>
                <div class="row">
                    <textarea name="Timeline Budget" id="complainant-timeline-and-budget" cols="30" rows="5"></textarea>
                </div>
            </div>

            <div class="row mt-2">
                <div class="row text-center">
                    <h5><u>Are there any other relevant details that you would like to share with the investigator?</u>
                    </h5>
                </div>
                <div class="row">
                    <textarea name="Other Details" id="complainant-other-relevant-details" cols="30" rows="5"></textarea>
                </div>
            </div>


        </div>

        <div class="row mt-3 border border-danger p-5">
            <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                   aria-expanded="false"
                   aria-controls="collapseExample">
                    NON-DISCLOSURE AGREEMENT
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <h1>NON-DISCLOSURE AGREEMENT</h1>
                    <p>This Non-Disclosure Agreement (the "Agreement") is entered into as of [date] (the "Effective
                        Date")
                        between [investigator's name and contact information] (the "Investigator") and [client's name
                        and
                        contact information] (the "Client").</p>
                    <p>WHEREAS, the Client has engaged the Investigator to provide investigative services in connection
                        with
                        certain matters (the "Matters"); and</p>
                    <p>WHEREAS, the Investigator may have access to confidential and proprietary information of the
                        Client
                        in the course of providing such services.</p>
                    <p>NOW, THEREFORE, in consideration of the mutual promises and covenants contained herein, the
                        parties
                        agree as follows:</p>
                    <ol>
                        <li>
                            <strong>Confidential Information.</strong>
                            <p>"Confidential Information" means any and all information, whether oral, written or in
                                electronic form, that is disclosed by the Client to the Investigator in connection with
                                the
                                Matters, and which is marked as confidential or proprietary or which the Investigator
                                should
                                reasonably understand to be confidential or proprietary. Confidential Information
                                includes,
                                but is not limited to, trade secrets, financial information, customer lists, and any
                                other
                                information that the Client designates as confidential.</p>
                        </li>
                        <li>
                            <strong>Non-Disclosure.</strong>
                            <p>The Investigator agrees to use the Confidential Information solely for the purpose of
                                providing the investigative services to the Client and to keep the Confidential
                                Information
                                confidential and not to disclose or use the Confidential Information, directly or
                                indirectly, for any other purpose without the prior written consent of the Client.</p>
                        </li>
                        <li>
                            <strong>Exclusions.</strong>
                            <p>This Agreement shall not apply to Confidential Information that:</p>
                            <ol type="a">
                                <li>Is or becomes publicly available through no fault of the Investigator;</li>
                                <li>Was in the Investigator's possession prior to receipt from the Client, as evidenced
                                    by
                                    the Investigator's written records;
                                </li>
                                <li>Is received from a third party who lawfully acquired the information and who is
                                    under no
                                    obligation of confidentiality to the Client; or
                                </li>
                                <li>Is required to be disclosed by law, court order or governmental regulation;
                                    provided,
                                    however, that the Investigator shall provide the Client with prompt written notice
                                    of
                                    such requirement in order to allow the Client the opportunity to seek a protective
                                    order
                                    or other appropriate remedy.
                                </li>
                            </ol>
                        </li>
                        <li>
                            <strong>Return of Confidential Information.</strong>
                            <p>Upon the completion of the investigative services or at any time upon the Client's
                                request,
                                the Investigator shall return all Confidential Information to the Client or destroy such
                                Confidential Information and certify in writing that it has been destroyed.</p>
                        </li>
                        <li>
                            <strong>Remedies.</strong>
                            <p>The parties agree that any breach of this Agreement may result in irreparable harm to the
                                Client and that the Client shall be entitled to seek injunctive relief, in addition to
                                any
                                other remedies that may be available at law or in equity.</p>
                        </li>
                        <li>
                            <strong>Governing Law.</strong>
                            <p>This Agreement shall be governed by and construed in accordance with the laws of theState
                                of
                                [state], without regard to conflicts of law principles.</p>
                        </li>

                        <li>
                            <strong>Entire Agreement.</strong>
                            <p>This Agreement constitutes the entire agreement between the parties with respect to the
                                subject matter hereof and supersedes all prior or contemporaneous agreements, whether
                                written or oral.</p>
                        </li>

                        <li>
                            <strong>Modification.</strong>
                            <p>This Agreement may not be amended or modified except in writing signed by both
                                parties.</p>
                        </li>
                    </ol>


                    <div class="col d-flex justify-content-center">
                        <input type="text" id="witness signature" class="signature"/>
                        <label for="witness signature">Witness Signature</label>
                    </div>

                    <div class="row text-center">
                        <strong>IN WITNESS WHEREOF, the parties have executed this Agreement as of the Effective
                            Date.</strong>
                        <strong>Capodilupo Investigation's.</strong>
                    </div>


                </div>
            </div>

        </div>

        <div class="row mt-3 border border-dark p-5">
            <div class="row text-center">
                <h3><u>Internal Use Only</u></h3>
            </div>

            <div class="row">

                <div class="col">
                    <label for="agent-receiving">Agent Receiving</label>
                    <input type="text" id="agent-receiving">
                </div>
                <div class="col">
                    <b><u>Investigating Agency</u></b>
                    <p>Capodilupo Investigation's 123 Main St, Disney Land, FL 90210</p>
                </div>

                <div class="col">
                    <b><u>Agency Phone Number</u></b>
                    <p>978/424/5947</p>
                </div>

            </div>


            <div class="row mt-1">
                <div class="col">
                    <label for="investigating-agent">Investigating Agent</label>
                    <input type="text" id="investigating-agent">
                </div>

                <div class="col">
                    <label for="investigating-agent-title">Agent Title</label>
                    <input type="text" id="investigating-agent-title">
                </div>

                <div class="col">
                    <label for="ID-number">ID Number</label>
                    <input type="text" id="ID-number">
                </div>

                <div class="col">
                    <label for="manager-reviewing">Manager Reviewing</label>
                    <input type="text" id="manager-reviewing">
                </div>

                <div class="col">
                    <label for="case-lead-investigator">Case Lead Investigator</label>
                    <input type="text" id="case-lead-investigator">
                </div>

            </div>

             <!--Submit Button-->
            <div class="row mt-3 mb-5 text-center">
                <div class="col"></div>
                <div class="col">
                    <button class="btn btn-dark mr-2" type="submit" name="submit_button" value="Submit New Report">
                        Submit New Report
                    </button>
                </div>
                <div class="col"></div>
            </div>

        </div>

    </div>
</form>

<script>
    create_Business_Header();
</script>
</body>
</html>