{% block doc %}
    {% block html %}
        {% block html_attribs %}
            <html lang="en">{% endblock %}

        {% block head %}
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
            <meta name="description" content=""/>
            <meta name="author" content=""/>
            <title>Personal Finance</title>
            <!-- Favicon-->
            <link rel="icon" type="image/x-icon" href="../assets/favicon.ico"/>
            <!-- Core theme CSS (includes Bootstrap)-->
            <link href="../static/sidebar.css" rel="stylesheet"/>



        {% endblock %}
    {% endblock %}

    {% block body %}
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            {% block navbar %}
                <div class="border-end bg-white" id="sidebar-wrapper">
                    <div class="sidebar-heading border-bottom bg-light">Options</div>
                    <div class="list-group list-group-flush">
                        {{ nav.mynavbar.render() }}
                    </div>
                </div>
            {% endblock %}


            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                {% block content %}
                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                        </div>
                    </div>

                {% endblock %}
            </div>
        </div>
    {% endblock %}

    {% block scripts %}

        <!-- Bootstrap core JavaScript -->
        <script src="../static/sidebar.js"></script>


    {% endblock %}

{% endblock %}