{% extends "layout.html" %}
{% block head %}
    {{ super() }}

    <script src="jquery.js"></script>


{% endblock %}
{% block body %}
    {{ super() }}



    <form action="{{ url_for('main_Menu') }}" enctype=multipart/form-data method="POST">

        {% if confirmation %}
            <div class="row mt-3 mb-3  blink-bg">
                <div class="col text-center">

                    <div class="display-3">{{ confirmation }}</div>
                </div>
            </div>

        {% endif %}

        <!--Tabs For Selecting Roll-->
        <ul class="nav nav-tabs justify-content-center"
            id="myTab"
            role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active"
                        id="Investigation-data-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#Investigation"
                        type="button"
                        role="tab"
                        aria-controls="home"
                        aria-selected="true">
                    Investigation
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="Admin-data-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#Admin"
                        type="button"
                        role="tab"
                        aria-controls="profile"
                        aria-selected="false">
                    Admin
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="Management-data-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#Management"
                        type="button"
                        role="tab"
                        aria-controls="profile"
                        aria-selected="false">
                    Management
                </button>
            </li>
        </ul>


        <!--Area for Showing Tab-->
        <div class="tab-content pb-5" id="myTabContent">
            {% include "Main Menu/Admin Data.html" %}
            {% include "Main Menu/Investigation Data.html" %}
            {% include "Main Menu/Management Data.html" %}


        </div>
        <script>
            create_Business_Header()
        </script>

    </form>

{% endblock %}


