<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Case</title>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/main.js"></script>

</head>
<body>

<form action="{{ url_for('create_New_Case') }}" enctype=multipart/form-data method="POST">
    <div class="container">
        <div class="row">
            <div class="col text-center" id="Business Header"></div>
        </div>

        <div class="row mt-3 border border-dark text-center">
            <h1><b>Create New Case</b></h1>
        </div>

        <div class="row mt-3">

            <div class="col">

                <label for="Returning Customer Name">Enter Customer Name:</label>
                <input type="text" id="Returning Customer Name" name="Customer Name" list="Returning Customer Names"
                       onclick="case_Number_Generator()"/>

                <datalist id="Returning Customer Names">
                    {% for customer in list_of_customers %}
                        <option>{{ customer }}</option>
                    {% endfor %}


                </datalist>
            </div>


            <div class="col">
                <label for="Investigation Type">Investigation Type?</label>
                <select id="Investigation Type" name="Investigation-Type" class="form-select" onchange="case_Number_Generator()">
                    <option value="BGINV">Background Investigation</option>
                    <option value="INTINV">Internal Investigation</option>
                    <option value="EXINV">External Investigation</option>
                    <option value="EVIDENCE">Evidence Gathering</option>
                    <option value="ASSETLOC">Asset Location</option>
                </select>
            </div>

            <div class="row mt-2">
                <div class="row text-center">
                    <h5><u>What is the purpose of the investigation?</u></h5>
                </div>
                <div class="row">
                    <textarea name="id-purpose" id="case-purpose" cols="30" rows="10"></textarea>
                </div>
            </div>

            <div class="row mt-2">
                <div class="row text-center">
                    <h5><u>What is the scope of the investigation?</u></h5>
                </div>
                <div class="row">
                    <textarea name="id-scope" id="case-scope" cols="30" rows="10"></textarea>
                </div>
            </div>


            <div class="row mt-2">
                <div class="row text-center">
                    <h5><u>Are their any legal framework issues that everyone should be aware of?</u></h5>
                </div>
                <div class="row">
                    <textarea name="id-legal-framework" id="case-legal-framework" cols="30" rows="5"></textarea>
                </div>
            </div>

            <div class="row mt-2">
                <div class="row text-center">
                    <h5><u>Are their any available resources that everyone should be aware of?</u></h5>
                </div>
                <div class="row">
                    <textarea name="id-available-resources" id="case-available-resources" cols="30" rows="5"></textarea>
                </div>
            </div>

            <div class="row mt-2">
                <div class="row text-center">
                    <h5><u>Their any risks that everyone should be aware of?</u></h5>
                </div>
                <div class="row">
                    <textarea name="id-risks" id="case-risks" cols="30" rows="5"></textarea>
                </div>
            </div>

            <div class="row mt-2">
                <div class="row text-center">
                    <h5><u>Are their any recommended investigation techniques?</u></h5>
                </div>
                <div class="row">
                    <textarea name="id-recommended-investigation-techniques" id="case-recommended-investigation-techniques" cols="30" rows="5"></textarea>
                </div>
            </div>

            <div class="row mt-2">
                <div class="row text-center">
                    <h5><u>What is the communication plan?</u></h5>
                </div>
                <div class="row">
                    <textarea name="id-communication-plan" id="case-communication-plan" cols="30" rows="5"></textarea>
                </div>
            </div>

            <div class="row">
                <input type="text" style="visibility: hidden" name="id_case_number" id="generated_case_number">
            </div>


            <!--Submit Button-->
            <div class="row mt-3 mb-5 text-center">
                <div class="col"></div>
                <div class="col">
                    <button class="btn btn-dark mr-2" type="submit" name="submit_button" value="Submit New Case">
                        Submit New Case
                    </button>
                </div>
                <div class="col"></div>
            </div>

        </div>


    </div>
</form>
<script>
    create_Business_Header();
    setup_Case_Number_Generator()
    case_Number_Generator();

</script>

</body>
</html>