<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Person of Interest Form</title>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/main.js"></script>
    <script src="../static/js/Person%20of%20Interest.js"></script>
    <script src="../../Useful-Functions/Motor-Vehicle-Resources.js"></script>


</head>
<body>

<form action="{{ url_for('create_Person_Of_Interest_Report', case_number=case_num) }}" enctype=multipart/form-data
      method="POST">

    <div class="container">
        <div class="row text-center mt-3">


            <div id="Business Header"></div>


        </div>

        <div class="row">
            <div class="col">
                <h1>Person of Interest</h1>
            </div>

            <div class="col align-self-end text-center">
                <h5>Incident # {{ case_num }}</h5>
            </div>


        </div>

        <div class="row mt-4 mb-5">


            <div class="col">
                <div class="form-group">
                    <label for="user_img">User Image:</label>
                    <input type="file" id="user_img" name="user_img" accept="image/*"
                           class="form-control form-control-lg">

                    <br>

                    <img id="preview" alt="Uploaded file will display here." class="title3" width="200" src="">
                    <script>showUserImage()</script>


                </div>

            </div>
            <div class="col">
                <div id="Basic-Details-Table"></div>
            </div>


        </div>

        <div class="row">

            <div class="col">
                <div id="Identifying-Info-Table"></div>
            </div>

            <div class="col">
                <div id="Contact-Info-Table"></div>
                <div id="Criminal-Intentions-Table"></div>
            </div>

        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div id="Employment-Info-Table"></div>
            </div>
            <div class="col"></div>
            <div class="col">
                <div id="Vehicle-Info-Table"></div>

            </div>
            <div class="col"></div>
        </div>


        <!--Submit Button-->
        <div class="row mt-3 mb-5 text-center">
            <div class="col"></div>
            <div class="col">
                <button class="btn btn-dark mr-2" type="submit" name="submit_button"
                        value="Submit Interview Report">
                    Submit Interview Report
                </button>
            </div>
            <div class="col"></div>
        </div>

    </div>


</form>

<script>
    create_Business_Header();
    setUpHTML();
    populateLists();
    populateModelList();


</script>


</body>
</html>