<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Plate Research</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>

<div class="container">

    <div class="row text-center">
            <h1>Vehicle Database</h1>
    </div>

    <div class="row mt-5">
        <div class="col">
            <div class="row mt-1">
                <h3>Vehicle Information</h3>
            </div>

            <div class="row mt-1">
                Year: 1999
                <br>
                Make: Chevrolet
                <br>
                Model: S1000
                <br>
                Insured: Yes
                <br>
                Owner: Don Capodilupo

            </div>

        </div>
    </div>
</div>

</body>
</html>